/*
* Do not forget to delete this later, it's so important for the library size!
*/
@import "reset/reset.scss";

/***
*
*
*
*
* Global
*/
* {
  box-sizing: border-box;
}

/***
*
*
*
*
* Grid system
* rows, cols settings
*/
$columns: 12;

.s-wrap {
  width: calc(100% - 10rem);
  max-width: 90rem;
  margin: 0 auto;
}

.s-row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through $columns {
  .has-#{$i} {
    flex: 0 0 100% / $columns * $i;
    text-align: center;
    padding: 1rem 0;
  }
  .jump-#{$i} {
    margin-left: 100% / $columns * $i;
  }
}


/**
*
*
* Buttons settings
*/
.button {
  padding: 3px 8px;
  border: 1px solid black;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

%gray {
  background-color: darken(white, 5%);
  color: black
}

%black {
  background-color: lighten(black, 25%);
  color: darken(white, 1%);
}

.is-gray {
  @extend %gray;
}

.with-gray-hover {
  &:hover {
    @extend %gray;
  }
}

.is-dark {
  @extend %black;
}

.with-black-hover {
  &:hover {
    @extend %black;
  }
}

.is-big {
  font-size: 20px;
  padding: 4px 11px;
}

.is-small {
  font-size: 10px;
  padding: 2px 5px;
}
