
/**
*
*
*
*
* Form settings
*/
.s-form {
  & {
    input[type=text] ,
    input[type=password],
    input[type=email],
    input[type=search],
    input[type=number],
    input[type=file],
    input[type=tel],
    input[type=url],
    select,
    textarea {
      @extend %form-elements;
      &:hover {
        background-color: darken(white, 5%);
        border: none;
      }
      &:focus {
        outline: 1px solid black;
      }
    }
    textarea {
      min-height: 80px;
    }
    select {
      cursor: pointer;
    }
  }
}
