
/**
*
*
*
*
* Typography settings
*/
.is-link {
  color: lighten(blue, 10%);
  padding: 1px auto;
  text-decoration: none;
  &:hover {
    border-bottom: 1px black dotted;
  }
  &:active, &:focus {
    @extend %black;
  }
}

.is-article {
  &::first-letter {
    font-weight: bold;
    font-size: 170%;
    text-transform: capitalize;
    letter-spacing: 15px;
    padding-left: 15px;
  }
  @extend %is-paragraph;
}

.is-paragraph {
  @extend %is-paragraph;
}
